<?xml version="1.0"?>
<config>
  <tabs>
    <bvt_modules translate="label">
      <label>BlueVisionTec Modules</label>
      <sort_order>1000</sort_order>
    </bvt_modules>
  </tabs>
  <sections>
    <bvt_enhancedpdfinvoice_config translate="label">
      <label>EnhancedPdfInvoice</label>
      <tab>bvt_modules</tab>
      <frontend_type>text</frontend_type>
      <sort_order>100</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <design_settings translate="label">
          <label>Design Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <logo_image translate="label">
              <label>Logo image</label>
              <frontend_type>image</frontend_type>
              <backend_model>adminhtml/system_config_backend_image</backend_model>
              <upload_dir config="system/filesystem/media" scope_info="1">bvt/enhancedpdfinvoice</upload_dir>
              <base_url type="media" scope_info="1">bvt/enhancedpdfinvoice</base_url>
              <!--<comment></comment>-->
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </logo_image>
            <logo_image_width translate="label">
              <label>Logo image width</label>
              <comment>Leave emtpy to use image width</comment>
              <frontend_type>text</frontend_type>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </logo_image_width>
            <logo_image_height translate="label">
              <label>Logo image height</label>
              <comment>Leave emtpy to use image height</comment>
              <frontend_type>text</frontend_type>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </logo_image_height>
            <font_type translate="label">
              <label>Font type</label>
              <frontend_type>select</frontend_type>
              <source_model>enhancedpdfinvoice/config_source_pdfFonts</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </font_type>
          </fields>
        </design_settings>
        <custom_settings translate="label">
          <label>Custom Text Settings</label>
          <frontend_type>select</frontend_type>
          <sort_order>20</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <display_tax_box translate="label">
              <label>Display tax box</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <comment>Display tax in seperate box</comment>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </display_tax_box>
            <performance_date translate="label">
              <label>Display current month as performance date</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </performance_date>
            <footer_text translate="label">
              <label>Footer Text</label>
              <frontend_type>textarea</frontend_type>
              <comment>Custom text placed on invoice bottom</comment>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </footer_text>
            
          </fields>
        </custom_settings>
        <item_settings translate="label">
          <label>Item Settings</label>
          <frontend_type>select</frontend_type>
          <sort_order>30</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <tax_display translate="label">
              <label>Display Tax</label>
              <frontend_type>select</frontend_type>
              <source_model>enhancedpdfinvoice/config_source_taxDisplay</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </tax_display>
          </fields>
        </item_settings>
      </groups>
    </bvt_enhancedpdfinvoice_config>
  </sections>
</config>